@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bitterRose";
  src: url("/fonts/bitterRose.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "chillax";
  src: url("/fonts/Chillax-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/fonts/CabinetGrotesk.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KaushanScript";
  src: url("/fonts/KaushanScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "merienda";
  src: url("/fonts/merienda.bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noto-sans-jp";
  src: url("/fonts/noto-sans-jp.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
