@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100vh;
}

body {
  background: #000;
  overflow-x: hidden;
}

/* ============================ UTILITY CLASSES ============================ */
@font-face {
  font-family: "bitterRose";
  src: url("/fonts/bitterRose.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "chillax";
  src: url("/fonts/Chillax-Variable.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "chillax";
  src: url("/fonts/Chillax-Variable.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/fonts/CabinetGrotesk.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KaushanScript";
  src: url("/fonts/KaushanScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "merienda";
  src: url("/fonts/merienda.bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "noto-sans-jp";
  src: url("/fonts/noto-sans-jp.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* ============================= BUTTONS ============================= */
.squishy {
  position: relative;
  transition: all 250ms;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.squishy-candy {
  background: linear-gradient(
    to bottom right,
    rgb(250, 204, 21),
    /* Yellow-400 */ rgb(234, 179, 8) /* Yellow-500 */
  );
  border-radius: 9999px;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 #facc15,
    0 4px 0 0 #eab308, 0 6px 0 0 #ca8a04, 0 8px 0 0 #a16207,
    0 8px 16px 0 rgba(250, 204, 21, 0.5);
}

.squishy-candy:hover {
  transform: translateY(4px);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 0 0 #facc15,
    0 2px 0 0 #eab308, 0 3px 0 0 #ca8a04, 0 4px 0 0 #a16207,
    0 4px 8px 0 rgba(250, 204, 21, 0.5);
}

/* ======================= SUB-HEADING LANDING PAGE ======================== */
.subhead {
  position: relative;
}

.subhead::before {
  content: "Hookah";
  -webkit-text-stroke: 16px black;
  -webkit-text-fill-color: white;
  color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10rem;
  font-weight: 700;
  color: red;
  text-shadow: 0 0 5px #000;
  animation: blink infinite linear 1s;
  z-index: -1;
}

@keyframes blink {
  0% {
    text-shadow: 0 0 0 transparent;
  }
  50% {
    text-shadow: 0 0 50px #fafa0a;
  }
  60% {
    text-shadow: 0 0 0 transparent;
  }
  80% {
    text-shadow: 0 0 50px #fafa0a;
  }
  100% {
    text-shadow: 0 0 0 transparent;
  }
}
.cardTitle {
  position: relative;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.cardTitle1 {
  text-shadow: -2px -2px 0 #024fa8, 2px -2px 0 #024fa8, -2px 2px 0 #024fa8,
    2px 2px 0 #024fa8;
}

.cardTitle2 {
  text-shadow: -2px -2px 0 green, 2px -2px 0 green, -2px 2px 0 green,
    2px 2px 0 green;
}

.cardTitle3 {
  text-shadow: -2px -2px 0 rgb(255, 0, 255), 2px -2px 0 purple,
    -2px 2px 0 purple, 2px 2px 0 purple;
}

.cardTitle4 {
  text-shadow: -2px -2px 0 gray, 2px -2px 0 gray, -2px 2px 0 gray,
    2px 2px 0 gray;
}

.cardTitle5 {
  text-shadow: -2px -2px 0 rgb(221, 177, 0), 2px -2px 0 rgb(221, 177, 0),
    -2px 2px 0 rgb(221, 177, 0), 2px 2px 0 rgb(221, 177, 0);
}

/* ================================ MEDIA QUERY ============================= */
@media only screen and (max-width: 768px) {
  .subhead::before {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 640px) {
  .subhead::before {
    font-size: 6rem;
  }
}
